
#ruuvi_timestamp {
    font-size: 11px;
}

.locationHeader {
    font-size: 18px;
    color: deepskyblue;
}

#outside {
    margin-top:40px;
}

#inside {
    margin-top: 20px;
}

#graph {
    margin-top: 20px;
}

.graphHeader {
    font-size: 18px;
    color: deepskyblue;
    margin-bottom: 20px;
}