
#ruuvi_timestamp {
    font-size: 11px;
}

.locationHeader {
    font-size: 18px;
    color: deepskyblue;
}

#outside {
    margin-top:40px;
}

#inside {
    margin-top: 20px;
}

#graph {
    margin-top: 20px;
}

.graphHeader {
    font-size: 18px;
    color: deepskyblue;
    margin-bottom: 20px;
}

.facebookDiv {
    margin-top: -220px;
    margin-right:20px;
}

.facebookDivSmall {
    margin-top: 50px;
    margin-bottom: 20px;
}

.footerDiv {
    margin-bottom: 40px;
}